<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/weather-icons.min.css" />
    <title>Weather App</title>
  </head>
  <body class="container mx-auto">
    <div class="bg-indigo-900 text-center py-4 lg:px-4">
      <div
        class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex"
        role="alert"
      >
        <span
          class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3"
        >New</span>
        <span class="font-semibold mr-2 text-left flex-auto">A basic Weather app
          microservice</span>
        <svg
          class="fill-current opacity-75 h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"
          />
        </svg>
      </div>
    </div>
    <div class="shadow-md m-6 p-4 text-center">
      <h1 class="text-orange-700 font-bold text-xl">The weather is
        {{temperature}}
        degrees Celsius in
        {{cityName}}
        and the description is
        {{weatherDes}}</h1>
      <img
        class="mx-auto w-48 h-48"
        src="https://openweathermap.org/img/wn/{{iconCode}}@2x.png"
        alt="Weather Icon"
      />
      <p class="text-center text-gray-500 text-xs">
        &copy;2023 Acme Corp. All rights reserved.
      </p>
      <a class="text-left text-gray-800 text-md" href="/">
        Back to Home
      </a>
    </div>
  </body>
</html>